<div class="container">
  <div class="row">
    <div class="col-5 fontText">
      Buscando por área:
      <br><a href="#">Informática</a>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">


        <p class="titulo">Analista de Sistemas</p>
        <p class="fontText">Benefícios: Vale Alimentação, Vale transporte, Plano de Saúde</p>
        <p class="fontText">Salário: R$3500,00</p>
        <button type="button" class="btn btn-primary button2" (click)="saibaMais()">Saiba mais</button>

      </div>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">
        <p class="titulo">Analista de Sistemas</p>
        <p class="fontText">Benefícios: Vale Alimentação, Vale transporte, Plano de Saúde</p>
        <p class="fontText">Salário: R$3500,00</p>
        <button type="button" class="btn btn-primary button2" (click)="saibaMais()">Saiba mais</button>
      </div>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">
        <p class="titulo">Analista de Sistemas</p>
        <p class="fontText">Benefícios: Vale Alimentação, Vale transporte, Plano de Saúde</p>
        <p class="fontText">Salário: R$3500,00</p>
        <button type="button" class="btn btn-primary button2" (click)="saibaMais()">Saiba mais</button>
      </div>
    </div>
  </div>

  <p></p>

  <div class="text-center">
    <button type="button" class="btn btn-primary button" >Mostrar mais</button>
  </div>

  <div class="row fontText">Alterar Área:</div><p></p>
  <div class="row">
    <div class="col-4">
      <p class="fontText"><a href="" >Administração</a></p>
      <p class="fontText"><a href="">Arquitetura</a></p>
    </div>
    <div class="col-4">
      <p class="fontText"><a href="">Comercial</a></p>
      <p class="fontText"><a href="">Financeiro</a></p>

    </div>
    <div class="col-4">
      <p class="fontText"><a href="">Industrial</a></p>
      <p class="fontText"><a href="">Jurídico</a></p>

    </div>
  </div>


</div>

