<div class="container">
  <div class="row">
    <div class="col-12 cabecalho">
            <div class="row">
        <div class="col-2 image">
          <img src="../../../assets/img/procura-de-emprego%201.png">
        </div>
        <div class="col-5 logo">
          Buscando
          <p>.com</p>
        </div>
              <div class="col-5 ajuda">
                <img src="../../../assets/img/image 5.png" >
                <a class="help" href="/">Ajuda</a>
              </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-10 barraHeader" align="right">
      <a class="empresas" href="/">Empresas</a>
    </div>
    <div class="col-2 barraHeader" align="center">
      <a class="entrar" href="/">Entrar</a>
    </div>
  </div>
</div>
