<div class="container" >
  <div class="row">
    <div class="col-12 image">
      <div>
        <span class="text">A oportunidade de garantir uma vaga</span>
      </div>
      <div>
        <span class="textSub">em sua área</span>
      </div>
      <div>
        <span class="text2" >São inúmeras vagas disponíveis em todo o Brasil </span>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite a vaga de emprego ou nome da empresa..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

