<div class="container">
  <div class="col-12">
    <div class="box">
      <div class="row">
        <div class="col-12 ">
          <p class="titulo">Preencha seus dados pessoais</p>
        </div>
      </div>
      <p class="campos">*Campos obrigatórios</p>
      <p><input class="form-control" type="text" placeholder="*Nome Completo"></p>
      <p><input class="form-control" type="text" placeholder="*Data de Nascimento"></p>
      <input class="form-control" type="text" placeholder="*Telefone" >

      <label class="fontText">Endereço:</label>
      <p><input class="form-control" type="text" placeholder="*CEP"></p>
      <p><input class="form-control" type="text" placeholder="*Logradouro"></p>
      <p><input class="form-control" type="text" placeholder="Complemento"></p>
      <p><input class="form-control" type="text" placeholder="*Cidade"></p>

      <label class="fontText">Redes Sociais:</label>
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary buttonText" type="button" id="button-addon1"><img class="image" src="../../../assets/img/image 9.png"> LinkedIn</button>
        <input type="text" class="form-control" placeholder="Insira o link do seu perfil">
      </div>
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary buttonText" type="button" id="button-addon1"><img class="image" src="../../../assets/img/image 8.png">  Instagram</button>
        <input type="text" class="form-control" placeholder="Insira o link do seu perfil">
      </div>
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary buttonText" type="button" id="button-addon1"><img class="image" src="../../../assets/img/image 10.png"> Facebook  </button>
        <input type="text" class="form-control" placeholder="Insira o link do seu perfil">
      </div>
      <div class="text-center">
      <button type="button" class="btn btn-primary button" (click)="continuarCadastro()">Continuar</button>
      </div>
    </div>
  </div>
</div>
