<div class="container">
  <div class="col-12">
    <div class="box">
      <div class="row">
        <div class="col-12 ">
          <p class="titulo">Identifique sua empresa</p>
        </div>
      </div>
      <p class="campos">*Campos obrigatórios</p>
      <p><input class="form-control" type="text" placeholder="*Nome da Empresa"></p>
      <p><input class="form-control" type="text" placeholder="*CNPJ"></p>
      <p><input class="form-control" type="text" placeholder="*Telefone"></p>
      <input class="form-control" type="text" placeholder="*Segmento comercial">

      <label class="fontText">Endereço:</label>
      <p><input class="form-control" type="text" placeholder="*CEP"></p>
      <p><input class="form-control" type="text" placeholder="*Logradouro"></p>
      <p><input class="form-control" type="text" placeholder="Complemento"></p>
      <p><input class="form-control" type="text" placeholder="*Cidade"></p>

      <div class="text-center">
        <button type="button" class="btn btn-primary button" (click)="continuarCadastroEmpresa()">Continuar</button>
      </div>
    </div>
  </div>
</div>
