<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="linha"></div>
    </div>
    <div class="col-4" style="text-align: center">
      <p class="buscar">Buscar por <span class="cidades">Cidades</span></p>
    </div>
    <div class="col-4">
      <div class="linha2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p><a href="buscaPorCidade" >Belo Horizonte</a></p>
      <p><a href="">Betim</a></p>
      <p><a href="">Contagem</a></p>
      <p><a href="">Curvelo</a></p>
    </div>
    <div class="col-4">
      <p><a href="">Ibirité</a></p>
      <p><a href="">Ipatinga</a></p>
      <p><a href="">Nova Serrana</a></p>
      <p><a href="">Ouro Preto</a></p>
    </div>
    <div class="col-4">
      <p><a href="">Pouso Alegre</a></p>
      <p><a href="">Ribeirão das Neves</a></p>
      <p><a href="">Sabará</a></p>
      <p><a href="">Uberlândia</a></p>
    </div>
  </div>
</div>
