<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="linha"></div>
    </div>
    <div class="col-4" style="text-align: center">
      <p class="buscar">Buscar por <span class="areas">Áreas</span></p>
    </div>
    <div class="col-4">
      <div class="linha2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p><a href="">Administração</a></p>
      <p><a href="">Arquitetura</a></p>
      <p><a href="">Comercial</a></p>
      <p><a href="">Comunicação</a></p>
    </div>
    <div class="col-4">
      <p><a href="">Contabilidade</a></p>
      <p><a href="">Educação</a></p>
      <p><a href="">Engenharia</a></p>
      <p><a href="">Financeira</a></p>
    </div>
    <div class="col-4">
      <p><a href="">Industrial</a></p>
      <p><a href="buscaPorArea">Informática</a></p>
      <p><a href="">Jurídico</a></p>
      <p><a href="">Saúde</a></p>
    </div>
  </div>
</div>
