.container {
  padding: 0px;
}

.backgroundImage {
  background: url("../../../assets/img/image 16.png");
  height: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img{
  margin-top: 60px;
}
.titulo {
  font-size: 42px;
  margin-top: 70px;
}
.subtitle{
  font-size: 32px;
  margin-left: 90px;
}
.subtitle2{
  margin-top: 100px;
  font-size: 28px
}

.box{
  margin: 15% 3% 0 10%;
  padding: 20px 50px 60px 50px;
  background: rgba(255, 255, 255, 0.5);
}
.button1{
  padding: 8px 25px;
  font-size: 25px;
  background-color: #C3293B;
  border-radius: 15px;
  margin-top: 30px;
}

.button2{
  padding: 8px 25px;
  font-size: 20px;
  background-color: #002E3B;
  border-radius: 15px;
}
