<div class="container">
  <div class="row">
    <div class="col-12 barraEmpresas">
      <span class="empresasConosco">As empresas que estão conosco</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br><br/>
      <a class="ibm" href="https://www.ibm.com/br-pt" >
      <img src="../../../assets/img/ibm.png" />
      </a>
      <a class="microsoft" href="https://www.microsoft.com/pt-br" >
        <img src="../../../assets/img/microsoft.png" />
      </a>
      <a class="google" href="https://www.google.com.br/" >
      <img src="../../../assets/img/google.png" />
      </a>
      <a class="oracle" href="https://www.oracle.com/br/index.html" >
      <img src="../../../assets/img/oracle.png"/>
      </a>
    </div>
  </div>
</div>
