<div class="container">
  <div class="backgroundImage">
    <div class="box">
      <div class="row">
        <div class="col-12">
          <p class="titulo" >Entrar</div>
      </div>


      <div class="row">
        <div class="col-12">
          <form>
            <div class="mb-3">
              <label for="email" class="fontText">E-mail:</label>
              <input type="email" class="form-control customForm" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="fontText">Senha: </label>
              <input type="password" class="form-control customForm" id="password">
              <p class="forgorPass"><a href="#">Esqueci minha senha</a></p>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary botao" (click)="acessar()">Acessar</button>
            </div>
            <p></p>
            <p class="fontText2" align="center">OU</p>
            <div class="text-center">
              <button type="submit" class="btn btn-primary googleLogin"> <img class="img" src="assets/img/google.png">   Entrar com Google</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
