<div class="container">
  <div class="row">
    <div class="col-5 fontText">
      Buscando por cidade:
      <br><a href="#">Belo Horizonte</a>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">


        <div class="titulo"><p>Analista de Sistemas</p></div>
        <div class="fontText"><p>Benefícios: Vale Alimentação, Vale transporte, Plano de Saúde</p></div>
        <div class="fontText"><p>Salário: R$3500,00</p></div>
        <button type="button" class="btn btn-primary button2" (click)="saibaMais()">Saiba mais</button>

      </div>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="titulo"><p>Analista de Sistemas</p></div>
        <div class="fontText"><p>Benefícios: Vale Alimentação, Vale transporte, Plano de Saúde</p></div>
        <div class="fontText"><p>Salário: R$3500,00</p></div>
        <button type="button" class="btn btn-primary button2" (click)="saibaMais()">Saiba mais</button>
      </div>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="titulo"><p>Analista de Sistemas</p></div>
        <div class="fontText"><p>Benefícios: Vale Alimentação, Vale transporte, Plano de Saúde</p></div>
        <div class="fontText"><p>Salário: R$3500,00</p></div>
        <button type="button" class="btn btn-primary button2" (click)="saibaMais()">Saiba mais</button>
      </div>
    </div>
  </div>

  <p></p>

  <div class="text-center">
    <button type="button" class="btn btn-primary button">Mostrar mais</button>
  </div>

  <div class="row fontText">Alterar Cidade:</div><p></p>
  <div class="row">
    <div class="col-4">
      <p class="fontText"><a href="">Belo Horizonte</a></p>
      <p class="fontText"><a href="">Betim</a></p>
      <p class="fontText"><a href="">Contagem</a></p>
      <p class="fontText"><a href="">Curvelo</a></p>
    </div>
    <div class="col-4">
      <p class="fontText"><a href="">Ibirité</a></p>
      <p class="fontText"><a href="">Ipatinga</a></p>
      <p class="fontText"><a href="">Nova Serrana</a></p>
      <p class="fontText"><a href="">Ouro Preto</a></p>
    </div>
    <div class="col-4">
      <p class="fontText"><a href="">Pouso Alegre</a></p>
      <p class="fontText"><a href="">Ribeirão das Neves</a></p>
      <p class="fontText"><a href="">Sabará</a></p>
      <p class="fontText"><a href="">Uberlândia</a></p>
    </div>
  </div>


</div>
