<div class="container">
  <div class="row">
    <div class="col-5 fontText">
      Buscando por área:
      <br><a href="#">Informática</a>
    </div>
  </div>

  <p></p>

  <div class="row">
    <div class="col-12">
      <div class="box">


        <div class="titulo text-center">Analista de Sistemas</div>
        <div class="fontText"><p>Empresa:Google</p></div>
        <div class="fontText"><p>O que é desejável: Conhecimentos nas tecnologias a seguir: Cloud (AWS/Azure/GCP); Apache, NGINX e Tomcat; Linux e Windows Server; MongoDB e ElasticSearch; Oracle, MySQL ou SQLServer; Ansible, Jenkins e Cloudformation; Docker; JavaScript.
          /p></div>
        <div class="fontText">Benefícios: Temos o vale alimentação ou refeição, você escolhe, com um valor acima da média da nossa região. Ah, e esse benefício não é suspendido nas férias, pra você continuar se alimentando bem;
          Vale transporte ou a possibilidade de vaga para carro ou moto no prédio da empresa;
        </div>
        <div class="fontText"><p>Carga Horária: 40h semanais</p></div>
        <div class="fontText"><p>Salário: R$3500,00</p></div>
        <div class="text-center">
        <button type="button" class="btn btn-primary button2">Quero esta vaga</button>
        </div>
      </div>
    </div>
  </div>

  <p></p>

    <button type="button" class="btn btn-primary button" >Voltar</button>

  <div class="row fontText">Alterar Área:</div><p></p>
  <div class="row">
    <div class="col-4">
      <p class="fontText"><a href="">Administração</a></p>
      <p class="fontText"><a href="">Arquitetura</a></p>
    </div>
    <div class="col-4">
      <p class="fontText"><a href="">Comercial</a></p>
      <p class="fontText"><a href="">Financeiro</a></p>

    </div>
    <div class="col-4">
      <p class="fontText"><a href="">Industrial</a></p>
      <p class="fontText"><a href="">Jurídico</a></p>

    </div>
  </div>


</div>

