.image {
  text-align: center;
  padding-top: 25px;
}
.logo{
  padding-top: 40px;
  padding-left: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;


  line-height: 40px;
  align-items: center;
  color: #E61C20;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);

}

.enter{
  width: 90px;
  height: 30px;
  font-size: 20px;
  line-height: 10px;
  color: #7B7F83;
  display: flex;
  align-items: center;
  /*
  padding-top: 120px;
  padding-left: 60px; */

}
.register{
  position: absolute;
  width: 150px;
  height: 30px;
  font-size: 20px;
  line-height: 10px;
  color: #7B7F83;
}

.primary{
  margin-top: 90px;
  margin-left: 13px;
}
.second {
  margin-top: 91px;
}

.barraHeader{
  width: 1200px;
  height: 33px;
  background: #C3293B;
}

.anunciarVaga{
  color: #FFFFFF;
}

.registerCv {
  color: #FFFFFF;
}
.vagas{
  color: #FFFFFF;
}

.imageLogin{
  margin-top: 89px;
  margin-left: 20px;
  width: 39px;
  height: 38px  ;
}
