<div class="container">
  <div class="row">
    <div class="col-8 ">
      <div class="row">
        <!-- aqui dentro você tem mais 12 colunas -->
        <div class="col-2 image">
          <img src="../../../assets/img/procura-de-emprego%201.png" (click)="menu()">
        </div>
        <div class="col-9 logo" (click)="menu()">
          Buscando
          <p>.com</p></div>
      </div>

    </div>
      <div class="col-2" >
      <img class="imageLogin" src="../../../assets/img/user.png" />
      <button type="button" class="btn btn-outline-secondary primary" (click)="login()">Entrar</button>
    </div>
    <div class="col-2" >
      <button type="button" class="btn btn-outline-secondary second" (click)="register()">Cadastre-se</button>
    </div>
  </div>

  <div class="row">
    <div class="col-9 barraHeader" align="right" >
      <a class="registerCv" (click)="anunciarVaga()">Anunciar vaga</a>
    </div>
    <div class="col-3 barraHeader" align="center">
      <a class="registerCv" (click)="cadastrarCurriculo()">Cadastrar currículo</a>
    </div>

  </div>

</div>
