<div class="container">
  <div class="backgroundImage">
    <div class="box">


      <div class="row">
        <div class="col-3">
          <img class="img" src="assets/img/image 17.png" align="right">
        </div>
        <div class="col-9 titulo">
          Sua vaga foi cadastrada
          <br>com sucesso!
        </div>

        <div class="row">
          <div class="col-12 subtitle" >Enviaremos informações de candidatos a vaga
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <button type="submit" class="btn btn-primary button1" (click)="visualizarVaga()">Visualizar Vaga</button>
          </div>
          <p></p>
          <div class="text-center subtitle2">
            <p>Aproveite para cadastrar outras vagas na plataforma!
            <button type="submit" class="btn btn-primary button2" (click)="cadastrarOutraVaga()">Cadastrar outra vaga</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
