<div class="container">
  <div class="backgroundImage">
    <div class="box">
      <div class="row">
        <div class="col-12 text-center">
          <p class="titulo">Cadastre-se gratuitamente</p>
          <p class="subtitle">e inicie já o recrutamento</p>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <form>
            <div class="mb-3">
              <label for="email" class="fontText">E-mail:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="fontText">Senha: </label>
              <input type="password" class="form-control" id="password">
              <label for="password" class="fontText2">Sua senha deverá conter de 6 a 20 caracteres</label>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input xpto" id="exampleCheck1">
              <label class="form-check-label textCheckbox" for="exampleCheck1">Li e concordo com os termos de uso | <a href="#">Ler termos de uso</a> </label>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary botao" (click)="cadastrarVaga()">Cadastrar vaga</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
